body {
  color: #000;
  background-color: #f1faff;
  
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
}

#page {
  margin: 0 auto;
  width: 960px;
}

header, section, footer {
  padding: 10px 30px;
  
/*  border: 1px solid #f00;*/
}

section {
  padding-bottom: 100px;
/*  padding-top: 50px;*/
  background-color: #fff;
}

section header {
  margin-bottom: 20px;
  padding: 20px 0;

  text-align: left;
}

section header p.client {
  font-size: 16px;
  line-height: 0px;
  
  color: #45698b;
}

span.date {
  float: right;
  
  line-height: 32px;
  text-transform: uppercase;

}

section p, footer p {
  font-size: 29px;
}

figure p {
  font-size: 16px;
}

table.project-overview {
  
}

td.fact {
  padding-right: 10px;
  width: 150px;
  
  color: #90b0cc;
  font-weight: bold;
  text-align: right;
}

h1 {
  color: #45698b; 
  /* 9ca6a2 */
  /* c2c6af */
  font-family: Helvetica, Arial, sans-serif;
  font-size: 47px;
  
  text-shadow: 0 1px 0 #fff;
}

h2 {
  color: #90b0cc;
  
  font-size: 29px;
  line-height: 29px;
  margin: 0;
}

p, div, section {
  color: #092740;
}

a, a:visited {
  color: #8fd36f;
}

a:hover {
  color: #fe57a1;
}

footer {
  margin-top: 100px;
  
  background-color: #fff;
  
  text-align: center;
}

/*footer a {
  color: #555;
  font-family: 'OFL Sorts Mill Goudy TT', 'Book Antiqua', serif;
  text-decoration: none;
  padding: 5px 15px;
}

footer a:hover {
  color: #666;
  background-color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

footer a:hover span.neu {
  color: #FF8431;
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #B05C22;
}*/