<div id="page" role="main">
  <header>
    <h1>handwerk*neu</h1>
  </header>

  <section>
    <p>
      Hallo, mein Name ist Lennard Timm. 
    </p>
    
    <p>
      Ich plane und entwickle Web-Anwendungen.
    </p>
    
    <p>
      Einfache Bedienbarkeit, Spaß bei der Benutzung und ein modernes Design liegen mir dabei am Herzen.
    </p>
    
    <p>
      Software kann unübersichtlich und kompliziert sein. Schade, finde ich. Gemeinsam analysieren wir das Problem und erarbeiten ein Konzept, wie die Software am besten für Sie arbeiten kann — und nicht umgekehrt.
    </p>
    
    <p>
      Klare Kommunikation und kurze Entwicklungszyklen bringen uns den Erfolg.
    </p>
    
    <p>
      Sagen Sie <a href="mailto:hallo@handwerkneu.de">hallo@handwerk<span class="neu">neu</span>.de</a>
    </p>
    

  </section>
  
  <section>
    <p style="color: #45698b; font-weight: bold">
      Zuletzt habe ich an den Start gebracht:
    </p>
    
    <header>
      <span class="date">März 2012</span>
      <h2>we are viral</h2>

      <a href="http://weareviral.com">weareviral.com</a>
    </header>

    <figure>
      <img src="images/weareviralcom.png" width="900" height="753" />
      
      <h3>
        Ankündigung für Online-Dienstleistung zu Social Media Monitoring als Software as a Service
      </h3>
      
      <table class="project-overview">
        <tr>
          <td class="fact">Kunde</td>
          <td>Eigenes Projekt</td>
        </tr>
        <tr>
          <td class="fact">Zeitraum</td>
          <td>März 2012</td>
        </tr>
        <tr>
          <td class="fact">Leistungen</td>            
          <td>
            Projektmanagement, Konzeption, Design und Umsetzung
          </td>
        </tr>
        <tr>
          <td class="fact">Umsetzung</td>
          <td>Ruby on Rails 3.2, MySQL, HTML5 und CSS3</td>
        </tr>
      </table>
    </figure>
  </section>
  
  <section>
    <header>
      <span class="date">April 2010 – heute</span>
      <p class="client">Frank Wesnitzer</p>
      <h2>BusinessYoga online</h2>

      <a href="http://businessyoga-online.de">businessyoga-online.de</a>
    </header>

    <figure>
      <img src="images/businessyoga-online.de.png" width="98%" />
      
      <h3>
        Online-Shop für Yoga-Videos am Arbeitsplatz
      </h3>
      
      <table class="project-overview">
        <tr>
          <td class="fact">Kunde</td>
          <td>Frank Wesnitzer</td>
        </tr>
        <tr>
          <td class="fact">Zeitraum</td>
          <td>April 2010 – heute</td>
        </tr>
        <tr>
          <td class="fact">Leistungen</td>            
          <td>
            Projektmanagement, technische Konzeption, Design, Umsetzung, Hosting
          </td>
        </tr>
        <tr>
          <td class="fact">Externe Leistungen</td>            
          <td>
            Logodesign
          </td>
        </tr>

        <tr>
          <td class="fact">Umsetzung</td>
          <td>Ruby on Rails 2.3, MySQL, HTML5 und CSS3</td>
        </tr>
      </table>
    </figure>
  </section>
  
  <section>
    <header>
      <span class="date">Juli 2008 – heute</span>
      <p class="client">Technische Universität Braunschweig</p>
      <h2>Kinder-Uni Braunschweig</h2>

      <a href="http://checkin.tu-braunschweig.de/kinderuni">checkin.tu-braunschweig.de/kinderuni</a>
    </header>

    <figure>
      <img src="images/kinderuni-intro.png" width="900" height="725" />
      
      <h3>
        Werkzeug für Vorlesungen für Grundschulkinder
      </h3>
      
      <table class="project-overview">
        <tr>
          <td class="fact">Kunde</td>
          <td>Stabsstelle Presse und Kommunikation, Technische Universität Braunschweig</td>
        </tr>
        <tr>
          <td class="fact">Zeitraum</td>
          <td>Juli 2008 – heute</td>
        </tr>
        <tr>
          <td class="fact">Leistungen</td>            
          <td>
            Technische Konzeption, Design, Umsetzung, Hosting
          </td>
        </tr>
        <tr>
          <td class="fact">Externe Leistungen</td>            
          <td>
            Logodesign, Layout
          </td>
        </tr>

        <tr>
          <td class="fact">Umsetzung</td>
          <td>Ruby on Rails 3.0, MySQL, HTML5 und CSS3</td>
        </tr>
      </table>
    </figure>
  </section>
  
</div>

<footer>
  <p>Sagen Sie <a href="mailto:hallo@handwerkneu.de">hallo@handwerk<span class="neu">neu</span>.de</a></p>
</footer>